@model ProjectFUEN.Models.ViewModels.InstructorVM

@{
	ViewData["Title"] = "編輯講師";
	
}


<div class="d-flex align-items-center p-2">
	<h1>編輯講師</h1>
	<button class="btn btn-primary ms-5">
		<a class="text-center text-white text-decoration-none" asp-action="Index">列表</a>
	</button>
</div>
<hr />
<div class="row p-2">
    <div class="col">
		<form method="post" enctype="multipart/form-data"
			  asp-controller="Instructor" asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="d-flex row">

				<div class="col-12 col-lg-4 d-flex flex-column">
					<div class="form-group">
						<label asp-for="InstructorName" class="control-label"></label>
						<input asp-for="InstructorName" class="form-control" />
						<span asp-validation-for="InstructorName" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Description" class="control-label"></label>
						@*<input  asp-for="Description" class="form-control" />*@
						<textarea asp-for="Description" class="form-control" maxlength="300" rows="4"></textarea>
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>
				</div>

				<div class="col-12 col-lg-4">
					<div class="form-group">
						<label class="control-label" for="myimg">講師照片</label>
						<div class="input-group">
							
							<input type="file" name="file" id="myimg" accept="image/*" class="form-control" />
						</div>
						<p class="text-danger">@ViewBag.photoError</p>
						<img id="preview" style="width:400px;height:300px;object-fit:cover" class="border-0" src="/UploadedFiles/@Model.ResumePhoto" />

					</div>
				</div>
				

				@*隱藏ResumePhoto欄位(還是要拿來繫結)*@
				<div class="form-group visually-hidden">
					<label asp-for="ResumePhoto" class="control-label"></label>
					<input asp-for="ResumePhoto" class="form-control" />
					<span asp-validation-for="ResumePhoto" class="text-danger"></span>
				</div>

				
			</div>
			
			
			<div class="form-group">
				<input type="submit" value="儲存" class="btn btn-primary" />
			</div>
		</form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

		<script>
			$('#myimg').on('change', function (e) {
				const file = this.files[0];
				const objectURL = URL.createObjectURL(file);    // 使用 createObjectURL 產生圖片url
				$('#preview').attr('src', objectURL);
			});

		</script>
}
