@model ProjectFUEN.Models.ViewModels.InstructorVM

@{
	ViewData["Title"] = "編輯講師";
	
}


<div class="d-flex align-items-center p-2">
	<h1>編輯講師</h1>
	<button class="btn btn-primary ms-5">
		<a class="text-center text-white text-decoration-none " asp-action="Index">列表</a>
	</button>
</div>
<hr />
<div class="row p-2">
    <div class="col">
        <form method="post" enctype="multipart/form-data"
              asp-controller="Instructor" asp-action="Edit" id="imgur">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-flex row">

                <div class="col-12 col-lg-4 d-flex flex-column">
                    <div class="form-group">
                        <label asp-for="InstructorName" class="control-label"></label>
                        <input asp-for="InstructorName" class="form-control" />
                        <span asp-validation-for="InstructorName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        @*<input  asp-for="Description" class="form-control" />*@
                        <textarea asp-for="Description" class="form-control" maxlength="300" rows="4"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="form-group">
                        <label class="btn btn-outline-secondary" for="myimg">變更講師圖片</label>
                        <button type="button" class="btn btn-light " id="origin">使用原圖</button>
                        <div class="input-group">
                            <input type="file" name="file" id="myimg" accept="image/*" class="form-control" style="display: none" />
                        </div>
                        <p class="text-danger">@ViewBag.photoError</p>
                        <img id="preview" style="width:400px;height:300px;object-fit:cover" class="border-0" src="@Model.ResumePhoto" />

                        <div class="picChose">
                            <button type="button" class="btn btn-light " id="imgurUpload">使用此圖片</button>
                            <button type="button" class="btn btn-light " id="cancle">使用原圖</button>
                        </div>

                    </div>
                </div>


                @*隱藏ResumePhoto欄位(還是要拿來繫結)*@
                <div class="form-group visually-hidden">
                    <label asp-for="ResumePhoto" class="control-label"></label>
                    <input asp-for="ResumePhoto" class="form-control imgurLink" />
                    <span asp-validation-for="ResumePhoto" class="text-danger"></span>
                </div>


            </div>

            <button type="submit" class="btn btn-primary save">儲存</button>

        </form>
        
        
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

		<script>
            let fileInput = $('#myimg');
            let picSrc = $("#preview").attr("src"); //取得原圖src（資料庫的）
            let objectURL;
            let file;
            const id = "1a8e6b2ff9a8c5f"; // 填入 App 的 Client ID
			const token = "ed5c143a32be3f4fed6416da9794cdcd1c700494";// 填入 token
            $(".picChose").hide(); //沒選取要上傳的圖片時隱藏確認上傳的鈕
            $("#origin").hide();


            //圖片預覽
			$('#myimg').on('change', function (e) {
				file = this.files[0];
				objectURL = URL.createObjectURL(file);    // 使用 createObjectURL 產生圖片上傳url
				$('#preview').attr('src', objectURL);
                $(".picChose").show();
                $(".save").hide();
                
            });

           

            $("#cancle").on("click", function (e) { //顯示原圖
                $(".picChose").hide();
                $('#preview').attr('src', picSrc);
                $(".save").show();
            })

            $("#origin").on("click", function (e) { //上傳到imgur後又想用原圖
                $(".picChose").hide();
                $("#origin").hide();
                $('#preview').attr('src', picSrc);
                $(".save").show();
                $(".imgurLink").val(picSrc);
            })

            $("#imgurUpload").on("click", function (e) {
                $(".picChose").hide();
                $(".save").show();
                $("#origin").show();
				console.log(file);
				

                    let myHeaders = new Headers();
            myHeaders.append("Authorization", `Bearer ${token}`);
                    let formdata = new FormData();
                    formdata.append("image", file);
                    console.log(formdata);
                    let requestOptions = {
                        referrer: "",
                        method: 'POST',
                        headers: myHeaders,
                        body: formdata,
                        //redirect: 'follow',
                        mimeType: "multipart/form-data",
                    };

                    fetch("https://api.imgur.com/3/image", requestOptions)
                        .then(response => response.text())
                        .then((result) => {
                            console.log(result);
                            let res = JSON.parse(result);
                            let link = res["data"]["link"];
                            console.log(link);
                            $(".imgurLink").val(link);
                            console.log($(".imgurLink").val());

                        }).catch((error) => {
                            console.log('error', error)
						});

		

            })
		</script>
}
