@model ProjectFUEN.Models.EFModels.OrderDetail

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<head>

      <link href="~/css/styles.css" rel="stylesheet" />

</head>
<body>

   
		

    
 

		<h3 class="mt-3 text-center text-white fw-bold bg-dark">編輯訂單</h3>
 

    <hr />

    <div class="container-fluid">
    <div class="row border-1   ">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group ">
                    <label asp-for="MemberId" class="control-label">帳號:</label>
                    <label asp-for="MemberId" class="control-label">@ViewBag.MemberId</label>
                    <input type="text" asp-for="MemberId" value="@Model.MemberId" hidden readonly />
                    @*<select asp-for="MemberId" class="form-control" asp-items="ViewBag.MemberId"></select>*@

                    <span asp-validation-for="MemberId" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label asp-for="OrderDate" class="control-label"></label>
                    <input asp-for="OrderDate" class="form-control" />
                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label asp-for="State" class="control-label"></label>
                    <select asp-for="State" class="form-control" asp-items="ViewBag.State"></select>
                    @*  <input asp-for="State" class="form-control" />*@
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <input type="submit" value="確認修改" class="btn btn-primary mt-3" />
                </div>
            </form>


        </div>
    </div>


    </div>






</body>






@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script>
        var type = $('State value')
           

     
    </script>
}

@functions {
    public string GetStateName(int state)
    {
        string StateName = "";
        switch (state)
        {
            case 0:
                StateName = "未出貨";
                break;
            case 1:
                StateName = "已出貨";
                break;
            case 2:
                StateName = "運送中";
                break;
            case 3:
                StateName = "已簽收";
                break;
            case 4:
                StateName = "已完成";
                break;
            default:
                StateName = "訂單異常";
                break;

        }
        return StateName;
    }
}
